blueprint/workflow2_listener.json
{
  "name": "Approval Listener",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "https://airtable.com/app83bdyO2N84o76X/tblqStWeOTzDczzBc/viwvr9BdPDRo360DX?blocks=hide",
          "mode": "url"
        },
        "tableId": {
          "__rl": true,
          "value": "tblqStWeOTzDczzBc",
          "mode": "id"
        },
        "triggerField": "last_updated",
        "additionalFields": {
          "fields": ""
        }
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        80
      ],
      "id": "12c39670-2594-494e-98e8-d98f59a324c5",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "hbOMXqDP4C5x3aOx",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "445f2639-3442-49eb-83da-6b1448605b4f",
              "leftValue": "={{ $json.fields.human_decision }}",
              "rightValue": "Aprobado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        80
      ],
      "id": "c4065923-0f37-4b57-a9ea-dc257e460162",
      "name": "If2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Airtable Trigger').item.json.fields.from_email }}",
        "subject": "=Re:  {{ $('Airtable Trigger').item.json.fields.subject }}",
        "message": "={{ $('Airtable Trigger').item.json.fields.draft_reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        0
      ],
      "id": "607dedd6-fdca-4fe9-abb6-c9bd42c330de",
      "name": "Send a message Se aprobó el lead",
      "webhookId": "aae107b5-5483-42ea-8bfc-44ca32666014",
      "credentials": {
        "gmailOAuth2": {
          "id": "vHJPzv4mbuoCm3NP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app83bdyO2N84o76X",
          "mode": "list",
          "cachedResultName": "Leads Base Coder",
          "cachedResultUrl": "https://airtable.com/app83bdyO2N84o76X"
        },
        "table": {
          "__rl": true,
          "value": "tblqStWeOTzDczzBc",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app83bdyO2N84o76X/tblqStWeOTzDczzBc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Ejecutado",
            "id": "={{ $('Airtable Trigger').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source_message_id",
              "displayName": "source_message_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "from_email",
              "displayName": "from_email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobación",
                  "value": "Esperando Aprobación"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Ejecutado",
                  "value": "Ejecutado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Disqualified",
                  "value": "Disqualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ai_result",
              "displayName": "ai_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "draft_reply",
              "displayName": "draft_reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "human_decision",
              "displayName": "human_decision",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "lead_owner",
              "displayName": "lead_owner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reply_sent_at",
              "displayName": "reply_sent_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "9224db51-b197-42bc-b160-be9c761659eb",
      "name": "Update record4",
      "credentials": {
        "airtableTokenApi": {
          "id": "hbOMXqDP4C5x3aOx",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app83bdyO2N84o76X",
          "mode": "list",
          "cachedResultName": "Leads Base Coder",
          "cachedResultUrl": "https://airtable.com/app83bdyO2N84o76X"
        },
        "table": {
          "__rl": true,
          "value": "tblqStWeOTzDczzBc",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app83bdyO2N84o76X/tblqStWeOTzDczzBc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Disqualified"
          },
          "matchingColumns": [
            "id",
            "status"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source_message_id",
              "displayName": "source_message_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "from_email",
              "displayName": "from_email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobación",
                  "value": "Esperando Aprobación"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Ejecutado",
                  "value": "Ejecutado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Disqualified",
                  "value": "Disqualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ai_result",
              "displayName": "ai_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "draft_reply",
              "displayName": "draft_reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "human_decision",
              "displayName": "human_decision",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "lead_owner",
              "displayName": "lead_owner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reply_sent_at",
              "displayName": "reply_sent_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        160,
        208
      ],
      "id": "a69ddd28-c568-4928-bcd2-f0cd2a031644",
      "name": "Update record5",
      "credentials": {
        "airtableTokenApi": {
          "id": "hbOMXqDP4C5x3aOx",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0BD6J4FJ05",
          "mode": "list",
          "cachedResultName": "dipalomeque"
        },
        "text": "\"Lead de {{ $json.fields.from_email }} rechazado. No se envió respuesta.\"",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        368,
        208
      ],
      "id": "870b5b2a-361b-4fc9-a186-dc4c467fd506",
      "name": "Send a message3",
      "webhookId": "480ba8dd-36f6-4683-93e3-49fefa58fab2",
      "credentials": {
        "slackOAuth2Api": {
          "id": "LIpc1EZXNJUmaWNb",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If2": {
      "main": [
        [
          {
            "node": "Send a message Se aprobó el lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message Se aprobó el lead": {
      "main": [
        [
          {
            "node": "Update record4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record5": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3cbc04b8-2855-44cd-bdf2-1c99f8024a9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6309f10a4726195c788336cbb520d316469812ed324c8a955fdca683a9c26338"
  },
  "nodeGroups": [],
  "id": "cZC1Macv5VN5dXyN",
  "tags": []
}